body {
    background-color:  #CFCCCB;
}

.cabecera {
    background: #333;
	height: 100px;
	width: 101.5%; /* hacemos que la cabecera ocupe el ancho completo de la página */
    margin-left: -1%;
    margin-top: -0.6%;
	left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 0; /* Posicionamos la cabecera pegada arriba */
	position: relative; /* Hacemos que la cabecera tenga una posición fija */
}

.logo {float: left; 
    margin-top: -2%;
    margin-left: -2%;
}

.carro {float: right; 
    margin-top: 1%;
    margin-right: 1%;
}

.dji_fpv {
    height: 550px;
    width: 101.5%;
    margin-left: -1%;
    background-image: url("dji_fpv_portada.jpeg");
    background-position: center;
}

h1 {
    font: message-box;
    font-size:xx-large;
    color: white;
    text-align: center;
    position: absolute;
    left: 308px;
    top: 404px;
}

.productos {
    margin-top: 20px;
    margin-left: -1%;
    width: 101.5%;
}

.fimi_x8_mini {
    float: left; 
    margin-right: 11%;
    margin-left: 20px;
    text-align: center;
}

.fimi_x8_2020 {
    float: left; 
    margin-right: auto;
    text-align: center;
}

.dji_mavic_air_2 {
    float: right; 
    margin-right: 11%;
    text-align: center;
}

.dji_mini_2 {
    float: right; 
    margin-right: 20px;
    text-align: center;
}


h2 {
    font: message-box;
    font-size:x-large;
    color: black;
}

h3 {
    font: message-box;
    font-size:large;
    color: red;
}

